/*-----------Global-----------*/
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: gray;
}

.hidden {
  display: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  width: 150px;
  height: 75px;
}

/*-----------Header-----------*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-right {
  display: flex;
  flex-direction: row-reverse;
}

.home-btn {
  border: none;
  outline: none;
  font-size: 27px;
}
/*-----------Body-----------*/

.main-body {
  /* display: flex;
  flex-direction: column; */
}

/*-----------Home View-----------*/
.home-view {
  /* display: flex;
  flex-direction: column-reverse;
  background-image: url(https://spoonacular.com/recipeImages/595736-556x370.jpg);
  background-size: cover;
  height: 500px; */
}
/*
.view {
  display: flex;
  justify-content: center;
} */

/*-----------User View-----------*/
/*-----------Favorites View-----------*/
/*-----------Grocery List View-----------*/
